body {
color:#555;
margin: 0;
}

#header {
background-color: #1abc9c;
height: 150px;
}

#header-title {
display: block;
float: left;
}

#header-nav {
display: block;
float: right;
margin-top: 0;
}

#header-nav li {
display: inline;
padding-left: 20px;
}

#content {
font-size: 20px;
border:2px solid #000000;
padding: 5px;
background-color: #DAD9CF;
margin:;
}

#footer {
font-size:20px;
background: #EDAF85;
height: 125px;
}

